local_settings.py
*.log
*.pyc
*.pyo
.idea/
__pycache__
venv
/swift_avia_group/settings.py
/swift_avia_group/wsgi.py
/swift_avia_group/__init__.py
/ЛК Газпром
/django-allauth
/static
*.xls
*.xlsx
*.mp3