Django==1.10.6
django-filter==1.1.0
django-formset-js==0.5.0
django-jquery-js==3.1.1
djangorestframework==3.7.1
djangorestframework-jwt==1.11.0
Markdown==2.6.9
medusa==0.5.4
meld3==0.6.5
mysql==0.0.1
mysql-connector-python==2.0.4
olefile==0.44
pbr==2.0.0
PIL==1.1.7
Pillow==4.1.1
PyJWT==1.5.3
PyMySQL==0.7.11
six==1.10.0
stevedore==1.21.0
supervisor==3.0a8
ufw==0.31.1.post1
update==0.4.4
uWSGI==2.0.15
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
