{% load static %}
<!--------------------------------------NAVBAR------------------------->
<div class="container">
<a class="navbar-brand" href="/">
    <img alt="Swift Avia Group" style="margin-top:20px; width:300px; hight:300px;" src="{% static 'images/log000.png' %}" >
   <h2 style="color:#fff; margin-left:125px; margin-top:-45px;">SWIFT <span style="color:rgb(51, 51, 255)">AVIA</span> GROUP</h2>
</a>

   <ul class="navbar" style="text-color:; font-size:16px;background-color:#fff;margin-top:65px; float:right; width:auto;">
    <ul class="nav navbar-nav" style="background-color:#fff; padding-left:0px; margin-left:0px  ">
        <li style="margin-left:0px;margin-top:5px;" class="active"><a style="margin-left:-20px; padding-left:5px;" href="/">Главная</a></li>
        <li style="margin-top:5px"><a href="{% url 'about_us' %}">О нас</a></li>
        <li style="margin-top:5px"><a href="{% url 'if_delivery' %}">Условия доставки</a></li>
        <li style="margin-top:5px"><a href="{% url 'contacts' %}">Контакты</a></li>



        {% if username %}
        <li style="margin-top:5px"><a href="/auth/logout/">Выйти</a></li>
        <li><a  href="/LK/"><button style="padding-top:10px" type="button" class="btn btn-primary btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>({{ username|truncatechars:10 }})</a></li>

        {% else  %}
            <li style="margin-top:5px"><a href="/auth/login/">Ввойти</a></li>

        {% endif %}




   </ul>
</ul>
<!--------------------------------------NAVBAR------------------------->

</div>