{% extends 'base0.html' %}

{% block head_title %}Авторизация{% endblock head_title %}
{% block login %}

{% if messages %}
<div style="margin: 5px" class="messages">
    {% for message in messages %}
      <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ message }}</span></div>
    {% endfor %}
</div>
{% endif %}

<div style="padding: 100px; position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);" class="small-4 large-4">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon glyphicon-user" id="basic-addon1"></span>
            <input type="text" name="username" id="username">
        </div>
        </br>
        <label for="password">Пароль</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
            <input type="password" name="password" id="password">
        </div>
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
</br>
        <input style="padding:10px; border-radius:10px" class="button btn-success" type="submit" value="Войти">
        <a href="/auth/register/" style="text-decoration: none;"><span style="padding:5px; border-radius:10px; " class="button btn-primary">Регистрация</span></a>
        <a href="/auth/reset_password/" style="text-decoration: none;"><span style="padding:5px; border-radius:10px;" class="button btn-warning">Восстановить пароль</span></a>
    </form>
</div>

{% endblock login %}