{% extends 'base0.html' %}

{% load static %}

{% block head_title %}Авторизация - Swift Avia Group{% endblock head_title %}

{% block CSS %}
<style>
    div.input-group>input{
     width: 300px
    }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.demo {
    max-width: 550px;
    margin: 5% auto;
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
}
/* Оформление ссылки */
a {
color: #666;
    text-decoration: none;
    border-bottom: 1px dotted #bbb;
}
a:hover,
a:focus {
    color:#36c;
}
a:active {
    top:1px;
}

/**
 * Формируем стили подсказки
 */

/* атрибут элемента с подсказкой */
[data-tooltip] {
  display: inline-block;
  position: relative;
  /* вид курсора для элементов с подсказкой */
  cursor: pointer;
}

/*  по умолчанию скрываем содержимое подсказки */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* определяем позицию подсказки над элементом
* её размеры, форму, цвет фона и текста
*/
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 5px;
  padding: 7px 15px; /* внутренние отступы */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;; /* скругляем углы */
  background: #006104;
  background: hsla(110,100%,17%,.9); /* цвет фона */
  color: #f4f4f4;
  content: attr(data-tooltip);
  white-space: nowrap;
  font-size: 13px;
  line-height: 1.2;
  text-shadow: 0 1px 1px hsla(0,0%,0%,1);/* тень для текста */
}

/* формируем указатель  */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 24px;
  width: 0;
  border-top: 5px solid #006104;
  border-top: 5px solid hsla(110,100%,17%,.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Показываем подсказку с указателем при наведении */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transition: all 0.4s ease-in-out; /* добавляем плавности перехода */
}


input.button.btn-success{
    text-align:center;
}


</style>

{% endblock CSS%}

{% block login %}

{% if messages %}
<div style="margin: 5px" class="messages">
    {% for message in messages %}
      <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ message }}</span></div>
    {% endfor %}
</div>
{% endif %}

<div style="padding: 100px; position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); text-align:center;" class="small-4">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <label style="float:left" for="username">Имя пользователя</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon glyphicon-user" id="basic-addon2"></span>
            <input type="text" name="username" id="username">
           <!-- <abbr style="border-bottom:none" title="Регистрация">-->

            <!--</abbr>-->

        </div>


        </br>
        <label style="float:left" for="password">Пароль</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
            <input type="password" name="password" id="password">
            <!--<abbr style="border-bottom:none" title="Восстановить пароль">-->

           <!--  </abbr>-->

        </div>


        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
<br>
       <!-- <button style="padding:2px; border-radius:10px; margin-right:40px" class="button btn-primary">Регистрация</button>-->
       <a href="/auth/reset_password/" style="text-decoration: none; border-bottom:none; float:right;" data-tooltip="Восстановить пароль">
             <img src="{% static '/images/social/forgot-password.png' %}" width="35px" height="35px"></a>


      <a href="/auth/register/" style="text-decoration: none; border-bottom:none; float:right;" data-tooltip="Регистрация">
                <img src="{% static '/images/social/add_user0.png' %}" height="30px" width="30px"></a>


      <input class="button btn-success" style="padding:10px; border-radius:10px; margin-left:15%" type="submit" value="Войти">

        <!--<a href="/auth/reset_password/" style="text-decoration: none;"><span style="padding:5px; border-radius:10px;" class="button btn-warning">Восстановить пароль</span></a>-->
    </form>

{% load socialaccount %}
<a style="text-decoration: none;" href="{% provider_login_url "facebook" method="oauth2" %}">
<img src="{% static 'images/social/facebook-sign.png' %}" style="width:230px; height:80px; "></a> <br>

<a href="{% provider_login_url "google" method="oauth2" %}">
<img src="{% static 'images/social/login-google.png' %}" style="width:200px; height:40px; "></a>

</div>

{% endblock login %}