{% extends 'index.html' %}


{% load static %}


{% block CSS0 %}
<style>
    #text_slide1, #text_slide2, #text_slide3, #text_slide4, #text_slide5{
    position: absolute;
    left: 0px;
    opacity:0;
    margin:0px 10px;

}

    .col-sm-10, .col-md-8{
    padding-right: 0px;
    padding-left: 0px;
    }

    .col-sm-2, .col-md-4{
    padding-right: 0px;
    }

</style>
{% endblock CSS0 %}

<title>{% block head_title %}Условия доставки{% endblock head_title %}</title>

{% block content %}

<div class="container">

  <div class="col-sm-10 col-md-8">
      <h1 style="text-align:center; color:#fff;">Условия доставки</h1>
      <hr>
    <div class="thumbnail">
     <!-- <img src="..." alt="..."> -->
      <div class="caption">
        <section id="demo">
         <article>
          <h3>О шести резонансных приговорах, которые потрясли мир</h3>

          <p>03.07.2017</p>

<p>Чтобы создать первый пост в блоге, нажмите здесь один раз и выберите «Добавить и редактировать посты». Блог является отличным способом взаимодействия с аудиторией и заставляет посетителей возвращаться к вам на сайт снова и снова. Важно, чтобы темы постов в блоге были с...</p>
          </article>

             <!--<p><a href="#" class="btn btn-primary" role="button">Подробнее</a> <!--<a href="#" class="btn btn-default" role="button">Button</a></p>-->
      </div>
    </div>




     <div class="thumbnail">
     <!-- <img src="..." alt="..."> -->
      <div class="caption">
        <article>
          <h3>О новом законопроекте, изменяющем существующий Федеральный Закон</h3>


<p>22.06.2017</p>

          <p>Чтобы создать первый пост в блоге, нажмите здесь один раз и выберите «Добавить и редактировать посты». Блог является отличным способом взаимодействия с аудиторией и заставляет посетителей возвращаться к вам на сайт снова и снова. Важно, чтобы темы постов в блоге были с...</p>
        <p>... bafksefrkgkrlgdgr</p>
        </article>

      </div>
    </div>




    <div class="thumbnail">
     <!-- <img src="..." alt="..."> -->
      <div class="caption">
       <article>
        <h3>Широкий доступ в глобальную сеть и иное в стратегии Правительства</h3>


<p>26.06.2017</p>

          <p>Чтобы создать первый пост в блоге, нажмите здесь один раз и выберите «Добавить и редактировать посты». Блог является отличным способом взаимодействия с аудиторией и заставляет посетителей возвращаться к вам на сайт снова и снова. Важно, чтобы темы постов в блоге были с...</p>
        <p>... bafksefrkgkrlgdgr</p>
        </article>
      </div>
    </div>



     <div class="thumbnail">
     <!-- <img src="..." alt="..."> -->
      <div class="caption">
       <article>
        <h3>Непредсказуемые события юридической жизни в 2017 г.</h3>


<p>26.06.2017</p>

          <p>Чтобы создать первый пост в блоге, нажмите здесь один раз и выберите «Добавить и редактировать посты». Блог является отличным способом взаимодействия с аудиторией и заставляет посетителей возвращаться к вам на сайт снова и снова. Важно, чтобы темы постов в блоге были с...</p>
        <p>... bafksefrkgkrlgdgr</p>
       </article>
      </div>
    </div>

</section>
</div>


  <div style="float:right; " class="col-sm-2 col-md-4">
          <h2 style="padding-bottom:5px; text-align:center; color:#fff;">Новости и статьи</h2>
          <hr>
             <div class="thumbnail">

              <div class="caption">

                  <h4>Популярные посты</h4>
                  <hr style="background-color:rgb(117,211,242);">
<!----------Слайдер ----------------------------------------------------------------------------->
<div id="text_slide1"><p style="margin-right:10px">Чтобы создать первый пост в блоге, нажмите здесь один раз и выберите «Добавить и редактировать посты». Блог является отличным способом взаимодействия...<p>
    <h4 style="margin-right:10px">О новом законопроекте, изменяющем существующий Федеральный Закон</h4>
    <h6>26.06.2023</h6>
</div><br>


<div id="text_slide2">Содержимое текстового блока №2</div>
<div id="text_slide3">Содержимое текстового блока №3</div>
<div id="text_slide4">Содержимое текстового блока №4</div>
<div id="text_slide5">Содержимое текстового блока №5</div>



                  <h4 style="margin-top:50%">Свежие посты</h4>
                  <hr style="background-color:rgb(117,211,242);">

                  <a href="#"><h5>О шести резонансных приговорах, которые потрясли мир</h5></a>
                  <h6>03.07.2017</h6>

                  <a href="#"><h5>О новом законопроекте, изменяющем существующий Федеральный Закон</h5></a>
                  <h6>26.06.2017</h6>

                  <a href="#"><h5>Широкий доступ в глобальную сеть и иное в стратегии Правительства</h5></a>
                  <h6>22.06.2017</h6>

                  <a href="#"><h5>Непредсказуемые события юридической жизни в 2023 г.</h5></a>
                  <h6>26.06.2017</h6>

                  <h4 style="margin-top:40px">Архив</h4>
                  <hr style="background-color:rgb(117,211,242);">

                  <a href="#"><h5>2017(20)</h5></a>
                  <a href="#"><h5>2016(5)</h5></a>

      </div>
    </div>
  </div>


      <div style="float:right; " class="col-sm-2 col-md-4">
          <h2 style="padding-bottom:5px; text-align:center; color:#fff;">Отзывы</h2>
         <!-- <hr> -->
             <div class="thumbnail">

              <div class="caption">
               {% for otz in otziv %}
                  {% if otz.recomend == True %}
                    <h4>{{ otz.reviews_client.first_name }}</h4>

                    <div class="col-xs-10" style="font-size:10px; padding-left:0px">{{ otz.date_add }}</div>
                    <div class="col-xs-2" style="float:right"><img src="{% static '/images/social/like.svg' %}" width="25px" height="25px"></div>
                    <p>{{ otz.text_reviews }}</p>
                    <hr style="background-color:rgb(117,211,242);">
                  {% endif %}
               {% endfor %}
              </div>
             </div>
      </div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<!--   Показать/скрыть текст   -->
    	<script src="{% static 'js/readmore.js' %}"></script>
	<script>
		$('article').readmore({
			maxHeight: 150,
			moreLink: '<a href="#">Показать полностью...</a>',
			lessLink: '<a href="#">Скрыть</a>'
		});
	</script>


<!--   Показать/скрыть текст   -->

<script type="text/javascript">
var text_slide_cur=0;
function showtext_slide(){
    $('#text_slide'+(text_slide_cur+1)).css({opacity: 0}).animate({opacity: 1.0,left: "50px"}, 1000);
    setTimeout(hidetext_slide, 3000);
}
function hidetext_slide(){
    $('#text_slide'+(text_slide_cur+1)).css({opacity: 1}).animate({opacity: 0,left: "-50px"}, 1000,function(){showtext_slide();});
    text_slide_cur=(text_slide_cur+1)%5;
}
$(document).ready(function() {
    showtext_slide();
})
</script>
{% endblock content%}