{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="mE5pTsJgjT4BLtlQBBSHUZaRPnTw3jycxxFX1gxWALk" />
    <title>{% block head_title %}Swift_Avia_Group{% endblock head_title %} </title>
    <link rel="shortcut icon" href="{% static 'images/logo11.png' %}"/>
    {% block CSS %}{% endblock CSS%}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-theme.min.css'%}">
     <link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">
  <!--  <link rel="stylesheet" href="{% static '/css/bootstrap-grid.css'%}">-->
    <style>
      ul.nav > li > a {
            padding: 10px 15px;
            margin-top:5px;
        }

      ul.nav > li > a:hover {
            padding: 10px 15px;
            margin-top:5px;
            color:rgb(51, 51, 255);
        }

      ul>li{
        letter-spacing:-0.5px;
        }

    a:hover{
        text-decoration: none;
    }

    .container{
    padding-right: 0px;
    padding-left: 0px;
    }
    </style>
{% block CSS0 %}{% endblock CSS0 %}
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
          $(document).ready(function(){

               $("#showHideContent_en,#showHideContent_ru,#showHideContent_ch ").click(function () {
                           if ($("#content_en,#content_ru").is(":hidden")) {

                                   $("#content_en,#content_ru,#content_ch, #show_info").show("slow");
                                   $("#hide_info").hide();
                           } else {

                                   $("#content_en,#content_ru,#content_ch").hide("slow");

                           }
     return false;
    });
    });


</script>

</head>
<body style="background-color:rgb(117,211,242);"><!--background-image:url(/static/images/165975_kula_ziemska_linie.jpg)-->

{% if messages %}
    <div class="alert alert-warning" role="alert">

    <ul class="messages">
        {% for message in messages %}
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
    </ul>
{% endif %}
    </div>

{% include 'snipets/nav.html' %}


{% block karta %}{% endblock karta%}

<div class="container">
{% block login %}{% endblock login %}

{% block content %}{% endblock content%}

</div>

{% block content_full %}{% endblock content_full%}
<!----------------------------Footer---------------------------------->

<div class="col-xs-12">
<footer class="footer">
    <div style="background-image:url(/static/images/blue.svg); max-height:70px; min-height:20px; height:auto; border-radius:10px; margin:20px 0px; padding-bottom:4%">
        <span class="col-xs-1" style="float:left; margin:0.7% 1%; margin-right:-4%">
            <a style="float:left;" href="https://www.facebook.com/swift.avia.group/"><img src="{% static '/images/social/Facebook-2561.png' %}" style="height:50%; width:50%"></a>
        </span>

        <span class="col-xs-1" style="float:left; margin:0.6vw 0vw">
            <a style="float:left; margin-left:10px;" href="https://www.instagram.com/swift_avia_group_/?hl=ru">
                <img src="{% static '/images/social/insta0.png' %}" style="height:60%; width:60%"></a>
        </span>


        <span class="col-xs-2" style="float:left; margin-right:-4%">
            <a style="float:left; margin-left:10px;" href="https://play.google.com/store/apps/details?id=swiftaviagroup.com.swift">
            <img src="{% static 'images/social/google_play.png' %}" style="width: 90%; height: 90%; margin-left: -30%;">
            </a>
        </span>

        <span  style="margin-left:1%; margin-top:1.2%; color:#fff; float:right; margin-right:1%; font-size:1.1vw;">Swift Avia Group &#169; 2017 ВСЕ ПРАВА ЗАЩИЩЕНЫ  |  ПОЛИТИКА КОНФИДИЦИАЛЬНОСТИ</span>
    </div>
</footer>
</div>

<!----------------------------Footer---------------------------------->

{% include 'snipets/js.html' %}


</body>
</html>