{% extends 'index.html' %}

{% load static %}


{% block CSS0 %}

<style>
    h1{
        font-family: 'El Messiri', sans-serif;
        font-size:60px;
    }

</style>
{% endblock CSS0 %}

{% block head_title %}Swift Avia Group авиадоставка посылок Китай Украина{% endblock head_title %}

{% block head_discription %}"Swiftaviagroup выкуп товаров из Китая, доставка, страховка грузов. Разтаможка и оформление всех документов для таможенного прохождения."{% endblock head_discription %}

{% block content %}

<div style="margin-top:50px;" id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>


  <div class="carousel-inner" style="background: #4da6ff; background: radial-gradient(circle at 80px 40px, #99ccff, #b3d9ff, #4da6ff); background-image:url(/static/images/social/global000.jpg); background-size: contain; max-height:450px; min-height:150px; height:auto; border-radius:25px; position: relative; ">

    <div class="item active" >
        <div style="margin:2.3vw 0vw" class="col-xs-5">
            <h1 style="color:#fff; text-align:center; font-size:4.5vw;">Авиадоставка под ключ. Комплексное решение</h1>
        </div>
        <div style="float:right; margin:8vw 0vw" class="col-xs-7">
            <img style="width:90%; height:50%;" src="{% static '/images/airplane.png' %}" alt="Swiftaviagroup-авиадоставка с Китая в Украину под ключ">
        </div>
    </div>

    <div class="item" >
        <div style="margin:4vw 0vw" class="col-xs-5">
            <h1 style="color:#fff; text-align:center; font-size:4.5vw;">Мы заботимся о вашем грузе</h1>
        </div>
        <div style="float:right; margin:4.1vw 0vw" class="col-xs-7">
            <img style="float:right; width:41%; height:40%;" src="{% static '/images/cargo0.png' %}" alt="Swiftaviagroup доставка посылок из Китая в Украину">
            <img style="float:right; width:41%; height:40%;" src="{% static '/images/cargo.png' %}"  alt="Swiftaviagroup доставка посылок из Китая в Украину">
        </div>
    </div>

    <div class="item" >
        <div style="margin:2vw 0vw" class="col-xs-7">
            <h1 style="color:#fff; text-align:center; font-size:4.5vw;">Комманда профессионалов - ключ к Вашему успеху!</h1>
        </div>
        <div style="float:right; margin:4.66vw 0vw" class="col-xs-5">
            <img style="float:right; width:80%; height:85%;" src="{% static '/images/our_team.png' %}" alt="Быстрая авиа доставка из Китая с профессионалами">
        </div>
    </div>

</div>
</div>


<script>
  (function() {
    var cx = '006651373756883291318:vxi0ywveube';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>


<div class="col-xs-12 container" style="border-radius:25px; margin-top:50px; clear:both; background-image:url(/static/images/blue000.png); background-size: cover; height:auto; border-bottom:2px solid #fff;">
    <div style="float:left" class="col-xs-6">
        <img style="width:90%; height:40%;" src="{% static '/images/chine0.png' %}" alt="Хранение грузов в Китае">
    </div>

    <div style="float:right; color:#fff;" class="col-xs-6">
        <ul style="margin:10% 15%; font-size:2.375rem; float:right">Склад в Китае:
            <li style="margin-left:10%">Гуанчжоу</li>
        </ul>
    </div>
</div>
<br>

<!-- Dialogflow -->
<div class="container">
    <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/0ec614ab-4fdc-498f-9f2a-e19fdc6e79aa">
    </iframe>
</div>

<div class="container">
    <div class="col-xs-6">
      <div style="display: inline-block; margin-left:20px">
        <h3 style="color:#fff">Поиск <span style="font-size:15px; color:#fff">посылки </span></h3>
        {% csrf_token %}
        <form method="GET" action="">
        <label for="query">parcel number</label> 
        <input type="text" placeholder="Номер посылки" id="query" name="query" value="{{ request.GET.query }}"/>
        <input type="submit" value="Найти"/>

        </form>
        </div>
        <br>
     <small id="defaultSearchParcelHelpBlock" class="form-text text-muted mb-2">
          Введите трэк номер выданого поставщиком китайского перевозчика, без пробелов и каких-либо знаков. Например: 1234567890
     </small>

        {% include 'search.html'%}
        <br>
    </div>
<div>

<hr>
    <div style="color:#fff; " class="col-xs-6">
        <h2>Услуги:</h2>
            <h4>Проверка целосности, работоспособности товара</h4>
            <h4>Фотоинспекция</h4>
            <h4>Забор грузов от склада поставщика</h4>
            <h4>Переупаковка товара</h4>


        <h2 style="text-align:center">Новости:</h2>
          <h4>Всемирный день почты</h4>
            <p>В 1974 году 14-тым конгрессом Всемирного союза почтовых работников, который был создан в 1974 году, было принято решение утвердить еще один международный праздник, отмеченный в системе ООН как Всемирный день почты...</p>
            <a href="/if/#POST-DAY""><button type="button" class="btn btn-info">Подробнее</button></a>
    </div>

</div>

<hr>


<!-- <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-avia-logistic-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                            
<script id="dsq-count-scr" src="//https-avia-logistic-com.disqus.com/count.js" async></script>
 -->
{% endblock content%}