{% extends 'index.html' %}


{% load static %}


<title>{% block head_title %}Партнерам{% endblock head_title %}</title>

{% block content %}

<div style="padding-top: 200px;" class="container">
    <div class="thumbnail">
         <!-- <img src="..." alt="..."> -->
          <div align="justify" style="padding-left: 20px; padding-right: 20px" class="caption">

                <h2 style="text-align: center">Информация для партнеров</h2>
                <br>
<!--

              <h2>Информация для сотрудичества</h2>
              <p>«Swiftaviagroup» надежный партнер в оформлении ваших посылок. Если вам необходимо отправить посылку из-за границы - обращайтесь к нам и мы с радостью поможем. Таможенная очистка посылки производится не зависимо от того с какой страны она прибыла.
              </p>
              <ul>
               <li>консультация опытных Брокеров касательно документов необходимых для таможенного оформления;
               </li>
                <li>предоставление информаци об оплате таможенных платежей;
</li>
              <li>совершение подачи документов в отсутствие получателя
</li>
              </ul>
              <p>
                Компания «Swiftaviagroup» является гарантом оформления ваших посылок. Мы оформляем почтовое отправление от вашего имени согласно совместно заключенного с вами договора и являемся официальным представителем ваших интересов при оформлении почты. Мы осуществляем контроль над всеми документами, которые предусмотрены таможенным законодательством. Так же мы занимаемся всеми сопутствующими платежами.
              </p>
              <p>
                Благодаря команде профессионалов и их глубокому опыту компания «Swiftaviagroup» является надежным партнером, который поможет вам развивать свой бизнес и станет настоящим помощником в сфере таможенного оформления. Наша команда  поможет свести к минимуму ваши затраты, сэкономит ваше время.
              </p> -->

        <div style="text-align: center; margin: auto; margin-top: 20px;" class="row">
         <div class="col-xs-3"><img src="{% static 'images/tab_client/agreement.png' %}" style="width:45%"></div>
     <div class="col-xs-3"><img src="{% static 'images/tab_client/Calculator-icon.png' %}" style="width: 45%"></div>
    <div class="col-xs-3"><img src="{% static 'images/tab_client/Customs_invoice.jpg' %}" style="width:50%; margin-top: -10px"></div>
         <div style="text-align: center" class="col-xs-3"><img src="{% static 'images/tab_client/cargo-to-client.png' %}" style="width:60%"></div>
    </div>

            <div style="text-align: center; margin: auto; padding-bottom: 20px" class="row">
                <div class="col-xs-3">Согласование деталей</div>
                <div class="col-xs-3">Предварительный расчет</div>
                <div class="col-xs-3">Таможенная очистка груза</div>
                <div class="col-xs-3">Доставка товара клиенту</div>
            </div>




    <h3>Кто мы?</h3>

    <p>«Swiftaviagroup» надежный партнер в оформлении ваших посылок. Если вам необходимо отправить посылку из-за границы - обращайтесь к нам и мы с радостью поможем. Таможенная очистка посылки производится не зависимо от того с какой страны она прибыла.</p>

<ul>
<li>консультация опытных Брокеров касательно документов необходимых для таможенного оформления;</li>
<li>предоставление информаци об оплате таможенных платежей;</li>
<li>совершение подачи документов в отсутствие получателя</li>
</ul>
    <p>Компания «Swiftaviagroup» является гарантом оформления ваших посылок. Мы оформляем почтовое отправление от вашего имени согласно совместно заключенного с вами договора и являемся официальным представителем ваших интересов при оформлении почты. Мы осуществляем контроль над всеми документами, которые предусмотрены таможенным законодательством. Так же мы занимаемся всеми сопутствующими платежами.</p>

    <p>Благодаря команде профессионалов и их глубокому опыту компания «Swiftaviagroup» является надежным партнером, который поможет вам развивать свой бизнес и станет настоящим помощником в сфере таможенного оформления. Наша команда поможет свести к минимуму ваши затраты, сэкономит ваше время.</p>

    <h3>Для чего мы нужны?</h3>

    <p>Одним из самых важных этапов транспортировки груза в международной торговле, является таможенная очистка. <b>Таможенная очистка грузов</b> — термин, который означает процедуру оформления товара при пересечении границы или при смене таможенного режима. Любая товарная группа должна иметь правильно составленную документацию в соответствии с законодательными нормами. Таможенное оформление грузов заключается в составлении декларации и пакета документов со всеми разрешениями. В них указывается точная информация о грузе, номенклатура всех товаров, сертификаты качества.</p>
    <p>Таможенное оформление грузов проводит непосредственно их владелец или представитель владельца — брокер. Важно помнить, что самостоятельное заполнение таких бланков очень часто приводит к задержкам на границе. В этом случае необходимо обращаться к специализирующимся компаниям, которые профессионально помогут в этом вопросе. В этом случае заключается договор на оказание услуг декларирования товаров. Обычно таможенная очистка импорта в Украине состоит из пяти этапов:</p>
<ul>
 <li>Составление декларации на товар;</li>
 <li>Присвоение грузу кода товарной номенклатуры внешнеэкономической деятельности (ТН ВЭД);</li>
 <li>Прохождение контроля стоимости груза;</li>
 <li>Оплата таможенных сборов;</li>
 <li>Прохождение контроля грузов и транспортных средств.</li>
</ul>
    <p>Лишь после этого ввозимый груз может на законных основаниях участвовать в товарообороте на территории Украины. Существует немало подводных камней, способных повысить стоимость таможенной очистки товаров. Правильно заполнить документы, соблюсти правила и сроки, избежать задержек товара на границе способны только профессиональные брокеры.</p>
    <p>«Swiftaviagroup» занимается международными грузоперевозками более пяти лет. Наше преимущество — большой опыт в таможенной очистке грузов из Китая, стран Европы и других стран.</p>


<h3>Что мы делаем?</h3>

<ul>Услуги по очистке товаров:
<li> Мы предоставляем все услуги по таможенному оформлению (сюда включаются декларирование грузов, товаров, классификация ТН ВЭД Укр.);</li>
<li> Выполняем все расчеты таможенной стоимости (в основу берем коммерческие, транспортные, сопроводительные документы);</li>
<li> Проходим все процедуры государственного контроля (экологичные, ветеринарные, фитосанитарные и тк.д.).</li>
<li> Реализуем все формальности на таможне, которые связанные с переброской груза/товара через границу. При любой необходимости поместим товар/груз во внутренний режим таможенного транзита.</li>
<li> Выпуск товаров из зоны таможенного контроля;</li>
<li> Плотное сотрудничество с таможенными органами, прохождение контроля, аккредитация и др.</li>
</ul>

    <p>Таможенную очистку мы можем выполнить в минимальные сроки и минимальными расходами. Наша команда возьмется очистку товаров и грузов любого вида, кроме запрещенных. В наши задачи так же входит комплексные и сборные отправки, негабарит, тяжелые грузы. Наша задача и цель – это своевременная отправка Вашего груза в конечную точку отправки, при этом гарантируем сохранность, целостность во время всех таможенных процедур и формальностей.</p>


<h3>Информация для интернет магазинов</h3>

    <p>Компания «Swiftaviagroup» приглашает к сотрудничеству интернет магазины Украины. Доставка Китай - Украина всего за 7-10 рабочих дней. <ul>Мы предлагаем вам услуги в следующих направлениях 
    <li>консолидация ваших товаров на нашем складе в Китае;</li>
    <li>проверка и маркировка заказов;</li>
    <li>обработка товара в соответствии с требованиями Заказчика;</li>
    <li>экспедирование груза в Украину;</li>
    <li>таможенная очистка;</li>
    <li>отправка товаров клиенту;</li>
    <li>сопутствующие услуги.</li>
    </ul>

<br>

    <h3>Как начать сотрудничество?</h3>

    <p><a style="color:blue" href="../contacts/#contact_anna">Давайте сотрудничать! Мы с радостью ответим на все ваши вопросы, свяжитесь с нами или оставьте заявку!</a></p>


  


    <br>
        <p>Дополнительна информация</p>
              <a style="color:blue" href="/if/#MPO">Основные правила формирования и обработки международных почтовых отправлений (МПО).</a><br>

                            <a style="color:blue" href="/if/#if_MPO">Условия таможенной очистки МПО согласно таможенного кодекса Украины </a>

          </div>
        </div>

</div>
{% endblock content %}