{% extends 'base_for_LK.html' %}
{% load static %}

{% block active_consolidation %}class="active"{% endblock active_consolidation %}


{% block CSS0 %}
<link rel="stylesheet" href="{% static '/css/accordion.css'%}">
{% endblock CSS0 %}

{% block content %}


<div class="col-xs-12">
  <h3>Иформация о грузе на нашем склад:</h3>
    <div class="col-xs-11">
        <div class="col-xs-2">№ посылки</div>
        <div class="col-xs-4">дата добавления</div>
        <div class="col-xs-2">статус</div>
        <div class="col-xs-2">вес, кг</div>
    </div>
    <hr style="background-color:rgb(117,211,242); margin:10px 0px;" class="col-xs-11">
<br style="clear:both">
{% if cargo_ne_obrabotan %}
     <h3>Еще не обработан складом:</h3>

    {% for car in cargo_ne_obrabotan %}
 <div class="col-xs-11 accordion" style="margin:2px 0px">
     <input class="toggle-box" id="block-{{ car.pack_number }}" type="checkbox">
        <label for="block-{{ car.pack_number }}">
            <div class="col-xs-2" style="margin-left:5px">{{ car.pack_number }}</div>
            <div class="col-xs-3">{{ car.date_added|date:"d F Y" }}</div>
            <div class="col-xs-4">{{ car.pack_status }}</div>
            <div class="col-xs-1">{{ car.weight }}</div>
            <div class="col-xs-1"><img style="margin-top:-5px" src="{% static '/images/pack/pack_ne.png' %}" width="35px" height="35px"></div><br>
        </label>
            <div class="box" style="margin-bottom:10px;">
                <table>
                    <tr>
                     <td class="col-xs-6">Наименование товара</td>
                     <td class="col-xs-2">К-во</td>
                    </tr>
                    {% for ing in car.packproduct_set.all %}
                    <tr>
                        <td class="col-xs-6">{{ ing }}</td>
                        <td class="col-xs-2">{{ ing.quantity }}</td>
                    </tr>
                    {% endfor %}


                </table>
                <br >
            </div>
 </div>
    {% endfor %}
{% endif %}


{% if cargo_consol %}
        <h3>Обработан складом: </h3>
        {% for car in cargo_consol %}

        <div class="col-xs-11 accordion" style="margin:2px 0px">
     <input class="toggle-box" id="blocks-{{ car.pack_number }}" type="checkbox">
        <label for="block-{{ car.pack_number }}">
            <div class="col-xs-2" style="margin-left:5px">{{ car.pack_number }}</div>
            <div class="col-xs-3">{{ car.date_added|date:"d F Y" }}</div>
            <div class="col-xs-4">{{ car.pack_status }}</div>
            <div class="col-xs-2">{{ car.weight }}</div><br>
        </label>
            <div class="box" style="margin-bottom:10px;">
                <table>
                    <tr>
                     <td class="col-xs-6">Наименование товара</td>
                     <td class="col-xs-2">К-во</td>
                    </tr>
                    {% for ing in car.packproduct_set.all %}
                    <tr>
                        <td class="col-xs-6">{{ ing }}</td>
                        <td class="col-xs-2">{{ ing.quantity }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br >
            </div>
 </div>
    {% endfor %}

            <div class="col-xs-12">
                <div class="col-xs-2"><a href="/LK/detail/{{ car.pack_number }}/">{{ car.pack_number }}</a></div>
                <div class="col-xs-4">{{ car.date_added|date:"d F Y" }}</div>
                <div class="col-xs-2">{{ car.pack_status }}</div>
                <div class="col-xs-2">{{ car.weight }}</div>
            </div>

    <hr style="background-color:rgb(117,211,242); margin:10px 0px;" class="col-xs-12">
{% endif %}

</div>

{% endblock content %}