{% extends 'base_for_add_and_edit_cargo.html' %}



{% load static %}


{% load formset_tags %}

{% block CSS0 %}

<style>
div.col-xs-10.cool{
    margin-top:30px !important
}



textarea#id_comment{
    min-width: 400px;
    height: 60px;
}
</style>
{% endblock CSS0 %}

<title>{% block head_title %}Изменение данных груза{% endblock head_title %}</title>

{% block content %}


<h3>Изменить данные груза:</h3>
<form method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}

    <div class="col-md-12">
    <form action="" method="post">{% csrf_token %}
       <div class="col-md-6">
        <p>{{ form.pack_number }} Номер уп</p>
        <p>{{ form.external_id }} *Служба доставки</p>
        <p>{{ form.ttn }} *Трек посылки</p>
        <p>{{ form.category_group }}</p>
        <p>{{ form.weight }} Итого вес груза</p>
        <p>{{ form.point }} К-во мест</p>
        <p>{{ form.comment }}<br> Комментарий к грузу</p>
       </div>
       <div class="col-md-6">
        <p style="visibility: hidden;">{{ form.customer }} Код клиента</p>
        <p style="visibility: hidden;">{{ form.language }} Language</p>
        <p style="visibility: hidden;">{{ form.pack_status }} Pack_status</p>
        <p style="visibility: hidden;">{{ form.sklad }} sklad</p>
        <p style="visibility: hidden;">{{ form.volume }} volume</p>
        <p style="visibility: hidden;">{{ form.currency }} currency</p>
        <p style="visibility: hidden;">{{ form.currency_value }} currency_value</p>
        <p style="visibility: hidden;">{{ form.total }} total</p>
        <p style="visibility: hidden;">{{ form.currency_code }} currency_code</p>
       </div>
        <h3>Товары в посылке</h3>
        <table class="table">
            {{ pack_form.management_form }}

            {% for form0 in pack_form.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form0.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %} formset_row">
                    {% for field in form0.visible_fields %}


                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form0.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Изменить"/> <a href="{% url 'LK:excepted_cargo' %}">к списку Ожидаемых</a>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'добавить товар',
        deleteText: 'Удалить',
        prefix: 'pack_product'
    });
</script>



</form>
{% endblock content%}