{% extends 'base_for_LK.html' %}

{% load static %}

{% block active_dostavleno %}class="active"{% endblock active_dostavleno %}

{% block CSS0 %}
<link rel="stylesheet" href="{% static '/css/accordion.css'%}">
{% endblock CSS0 %}

{% block content %}

<h3>Иформация о доставленном грузе:</h3>

{% include 'info_pack.html' %}

<!----------------------------ПАГИНАЦИЯ---------------------------------------------->
<div align="center">
 {% if cargo.has_other_pages %}
   <ul class="pagination">
     {% if cargo.has_previous %}
       <li><a href="?page={{ cargo.previous_page_number }}">&laquo;</a></li>
     {% else %}
       <li class="disabled"><span>&laquo;</span></li>
     {% endif %}
     {% for i in cargo.paginator.page_range %}
       {% if cargo.number == i %}
         <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
       {% else %}
         <li><a href="?page={{ i }}">{{ i }}</a></li>
       {% endif %}
     {% endfor %}
     {% if cargo.has_next %}
       <li><a href="?page={{ cargo.next_page_number }}">&raquo;</a></li>
     {% else %}
       <li class="disabled"><span>&raquo;</span></li>
     {% endif %}
   </ul>
 {% endif %}
</div>
<!----------------------------ПАГИНАЦИЯ---------------------------------------------->
{% endblock content %}