{% extends 'base_for_LK.html' %}


{% block active_dostavleno %}class="active"{% endblock active_dostavleno %}

{% block CSS0 %}
<style>
    .container{
        width:1075px;
    }
</style>
{% endblock CSS0 %}

{% block content %}

<h3>Иформация о доставленном грузе:</h3>

<div class="col-xs-11">
    <div class="col-xs-2">№ посылки</div>
    <div class="col-xs-3">дата добавления</div>
    <div class="col-xs-2">статус</div>
    <div class="col-xs-2">вес, кг</div>

</div>
<hr style="background-color:rgb(117,211,242); margin:10px 0px;" class="col-xs-8">
{% for car in cargo %}
<div class="col-xs-11">
    <div class="col-xs-2"><a href="/LK/detail/{{ car.pack_number }}/">{{ car.pack_number }}</a></div>
    <div class="col-xs-3">{{ car.date_added|date:"d F Y" }}</div>
    <div class="col-xs-2">{{ car.pack_status }}</div>
    <div class="col-xs-2">{{ car.weight }}</div>
</div>
<hr style="background-color:rgb(117,211,242); margin:10px 0px;" class="col-xs-8">
{% endfor %}



{% endblock content %}