{% extends 'base_for_LK.html' %}

{% load static %}
{% block active_v_puti %}class="active"{% endblock active_v_puti %}

{% block CSS0 %}
<link rel="stylesheet" href="{% static '/css/accordion.css'%}">
{% endblock CSS0 %}

{% block content %}


    <h3>Иформация о грузе, который в пути:</h3>



{% if cargo_ready %}
        <!-- <h3>Обработан складом: </h3> -->
        {% for car in cargo_ready %}

        <div class="col-xs-11 accordion" style="margin:2px 0px">
     <input class="toggle-box" id="block1-{{ car.pack_number }}" type="checkbox">
        <label for="block1-{{ car.pack_number }}">
            <div class="col-xs-2" style="margin-left:5px">{{ car.pack_number }}</div>
            <div class="col-xs-3">{{ car.date_added|date:"d F Y" }}</div>
            <div class="col-xs-4">{{ car.pack_status }}</div>
            <div class="col-xs-2">{{ car.weight }}</div><br>
        </label>
            <div class="box" style="margin-bottom:10px;">
                <table>
                    <tr>
                     <td class="col-xs-6">Наименование товара</td>
                     <td class="col-xs-2">К-во</td>
                    </tr>
                    {% for ing0 in car.packproduct_set.all %}
                    <tr>
                        <td class="col-xs-6">{{ ing0 }}</td>
                        <td class="col-xs-2">{{ ing0.quantity }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br >
            </div>
 </div>
    {% endfor %}


    <hr style="background-color:rgb(117,211,242); margin:10px 0px;" class="col-xs-12">
{% endif %}




    {% include 'info_pack.html' %}

    {% if cargo_v_puti.count == 0 %}

        <h3 style="text-align:center; clear:both; margin-top:10%; margin-bottom:5%">У ВАС НЕТ ГРУЗА В ПУТИ</h3>

    {% endif %}

{% endblock content %}