{% extends 'base_for_LK.html' %}

{% load static %}
{% block active_v_puti %}class="active"{% endblock active_v_puti %}

{% block CSS0 %}
<link rel="stylesheet" href="{% static '/css/accordion.css'%}">
{% endblock CSS0 %}

{% block content %}


    <h3>Иформация о грузе, который в пути:</h3>

    {% include 'info_pack.html' %}

    {% if cargo_v_puti.count == 0 %}

        <h3 style="text-align:center; clear:both; margin-top:10%; margin-bottom:5%">У ВАС НЕТ ГРУЗА В ПУТИ</h3>

    {% endif %}

{% endblock content %}